@import "custom-variables";

.fs-7 {
  font-size: $fs-7;
}

.fs-8 {
  font-size: 0.6rem;
}

.fs-9 {
  font-size: 0.5rem;
}

.fs-10 {
  font-size: 0.4rem;
}

.fs-11 {
  font-size: 0.2rem;
}

.no-underscore {
  text-decoration: none !important;
}